#root {
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  color: rgba(39, 46, 53, 1);
  background-color: rgba(255, 255, 255, 1);
}

.title {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
}
.app-container {
  padding: 48px 64px;
  margin-bottom: 23px;
  transition: opacity 0.3s, transform 0.3s;
  padding-bottom: 60px;
}

@media (max-width: 1024px) {
  .app-container {
    padding: 48px 32px;
}
}
